{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<section class="home-section section-hero inner-page overlay bg-image" id="home-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">Algorithm Playground</h1> 
        </div>
        <p>This platform offers a look behind the scene of e-recruitment websites and explain how job applicants
          are ranked by e-recruitment algorithms.
        </p>
        <p> The platform is to develop to examine users’ perception of trust in e-recruitment 
          algorithms and the impact such trust on their attitudes toward the algorithms.
        </p>
        <p>The platform also helps to analyse the impact of explanations on trust and willingness to use
          e-recruitment platforms.  
        </p>
      </div>
    </div>
  </div>
</section>


    <section class="site-section" id="next-section">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 mb-5 mb-lg-0">
              <p>Log in with your username and password</p>
            <form action="" method="POST" >{% csrf_token %}

              {{ form|crispy}}

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Login" class="btn btn-primary btn-md text-white">
                </div>
              </div>


            </form>
          </div>

        </div>
      </div>
    </section>


{% endblock %}