{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="home-section section-hero inner-page overlay bg-image" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">E-Recruitment Systems</h1> 
            </div>
            <p>An e-recruitment system is a web-based tool that automates recruiting processes such as publishing
               job positions, receiving job applicants' CVs, applicants' pre-screening, ranking and selection among
               others. Existing e-recruitment systems use keywords or faceted searches 
               to provide better search results to different categories of users (including recruiters, job seekers,
                hiring agency etc.).
            </p>
            <p> An e-recruitment system as a web-based tool is a merge of algorithms that automates the 
              different requirements of the system. These algorithms take specific inputs from different 
              categories of users to generate results. For instance, a recruiter can provide specific inputs 
              (such as the required experience and education level
              etc) to the algorithms to rank candidates for an advertised job position. 
            </p>
            <p>Generally, e-recruitment systems use several algorithms such as recommender, prediction, 
              semantic matching and filtering algorithms among others. For instance, filtering algorithms
              use applicants' personality traits to rank applicants for a job position. The inputs for a filtering
              algorithm are usually specified by recruiters.
            </p>
            <p>
              This experiment is aimed at investigating factors and features that may 
              affect users’ perceptions of trust in e-recruitment algorithms.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 bg-image overlay-primary fixed overlay" id="next-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
              <h3 class="text-white font-weight-bold" >Task A : Introductory Explanations</h3>
              <p class="mb-0 text-white lead"> 
                <ol>
                  <li class="mb-0 text-white lead" >Read through the introductory explanations on e-recruitment systems</li>
                  <li class="mb-0 text-white lead">Click CONTINUE to proceed to the next page of the experiment</li>
                </ol>
              </p>
            </div>
          </div>
        </div>
    </section>
    <section class="py-5 bg-image overlay-primary fixed overlay" >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3 ml-auto">
            <a href="{% url 'accounts:login' %}" class="btn btn-warning btn-block btn-lg">CONTINUE</a>
          </div>
        </div>
      </div>
    </section>


{% endblock %}