{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="home-section section-hero inner-page overlay bg-image"
      style="background-image: url('images/good.jpg');" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Overview of E-Recruitment Systems</h1> 
            </div>
            <p>E-recruitment facilitates employers in terms of selecting the 
              right candidates from a vast pool of candidates. Likewise, it facilitates job seekers in terms of
               finding revelant jobs efficiently. 
            </p>
            <p>Existing e-recruitment systems use keywords or faceted searches to provide better search results to 
              different categories of users (including employers, job seekers, organisations etc.). A recruitment process 
              involves posting of a job advert with a job description by an employer and a job search and job application
              by a job seeker. Different types algorithms are embedded in an e-recruitment system to automate this process.
            </p>
            <p>Mostly, e-recruitment systems use recommender, prediction and filtering algorithms among others. 
              These algorithms take specific inputs from different categories of user to produce results. 
              For instance, an employer's primary interest is on the ranking of potential candidates for the 
              advertised job position and hence, an employers give specific inputs (such as the required experience, education level
              etc) to the algorithms to get desribale results. Likewise, a job seeker provides inputs that fits its profile
              to the algorithms to get desirable results.
            </p>
          </div>
        </div>
      </div>
    </section>


     <section class="site-section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a data-fancybox data-ratio="2" href="https://www.youtube.com/watch?v=w6rGe-XBi9w" class="block__96788">
              <span class="play-icon"><span class="icon-play"></span></span>
              <img src="{% static 'images/about_1.jpg' %}" alt="Image" class="img-fluid img-shadow">
            </a>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="section-title mb-3">Overview of Algorithm Playground</h2>
            <p><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR9tgf-0OZQChYP43h5SA8G-7aCJxCeeiiGj
              Pq5heS0LKJtZ5eKz0hYyPGp4XIt9rnnNvv044Yw_8Cv/embed?start=true&loop=true&delayms=3000" 
              frameborder="0" width="480" height="299" allowfullscreen="true" 
              mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></p>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Scenario</h2>
          </div>
        </div>

        <div class="row align-items-center block__69944">

          <div class="col-md-6">
            <p><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSBOoIo1RhsHKz3W5R
              k2xkrPvBGMqDsaZ7AFENHhAMPKgLPuvo60okXNED5TNZcXg/embed?start=false&loop=true&de
              layms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" 
              mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>.</p>
          <div class="social mt-4">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>


          <div class="col-md-6 order-md-2">
            <p>Follow us @Rentrust or visit us at www.reentrust.org </p>
            <div class="social mt-4">
              <a href="#"><span class="icon-twitter"></span></a>
            </div>
          </div>


        </div>

    </section>


    <section class="py-5 bg-image overlay-primary fixed overlay" id="next-section"
      style="background-image: url('images/good.jpg');">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2 text-white">Site Statistics</h2>
            <p class="lead text-white">Number of candidates, job posted, job filled and companies.</p>
          </div>
        </div>
        <div class="row pb-0 block__19738 section-counter">

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="1930">0</strong>
            </div>
            <span class="caption">Candidates</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="54">0</strong>
            </div>
            <span class="caption">Jobs Posted</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="120">0</strong>
            </div>
            <span class="caption">Jobs Filled</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="550">0</strong>
            </div>
            <span class="caption">Companies</span>
          </div>


        </div>
      </div>
    </section>


{% endblock %}