{% extends 'base.html' %}

{% load static %}


{% block content %}

<!-- HOME -->
    <section class="home-section section-hero inner-page overlay bg-image">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Feedback</h1>
              <p>Please complete a final survey on the three presented algorithms.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    
<section class="site-section services-section bg-light block__62849" id="next-section">
  <div class="container">

    <div class="row">
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-magnet d-block"></span></span>
          <h3>Algorithm A Results</h3>
            <head>
              <style>
              table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
              }
              
              tr:nth-child(even) {
                background-color: #dddddd;
              }
              </style>
              </head>
              <body>
              
              <table>
                <tr>
                  <th>Name</th>
                  <th>Experience score</th>
                  <th>Education score</th>
                  <th>Overall Score</th>
                </tr>
                <tr>
                  <td>Elly Morrison</td>
                  <td>30/50</td>
                  <td>50/50</td>
                  <td>80%</td>


                </tr>
                <tr>
                  <td>Avik Amble</td>
                  <td>40/50</td>
                  <td>30/50</td>
                  <td>70%</td>
                </tr>
                <tr>
                  <td>Jane White</td>
                  <td>30/50</td>
                  <td>40/50</td>
                  <td>70%</td>
                </tr><tr>
                  <td>Jian Zhang</td>
                  <td>20/50</td>
                  <td>50/50</td>
                  <td>70%</td>
                </tr>
                <tr>
                  <td>Benson Adebayo</td>
                  <td>50/50</td>
                  <td>10/50</td>
                  <td>60%</td>
                </tr>
                <tr>
                  <td>Charissa Bloom</td>
                  <td>40/50</td>
                  <td>20/50</td>
                  <td>60%</td>
                </tr>
                <tr>
                  <td>Luke Brown</td>
                  <td>10/50</td>
                  <td>50/50</td>
                  <td>60%</td>
                </tr>




              </table>
              
              </body>
              
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-magnet d-block"></span></span>
          <h3>Algorithm B Results</h3>
            <head>
              <style>
              table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
              }
              
              tr:nth-child(even) {
                background-color: #dddddd;
              }
              </style>
              </head>
              <body>
              
              <table>
                <tr>
                  <th>Name</th>
                  <th>Location score</th>
                  <th>Experience score</th>
                  <th>Overall Score</th>
                </tr>
                <tr>
                  <td>Avik Amble</td>
                  <td>50/50</td>
                  <td>40/50</td>
                  <td>90%</td>
                </tr>
                <tr>
                  <td>Jian Zhang</td>
                  <td>50/50</td>
                  <td>20/50</td>
                  <td>70%</td>
                </tr>
                <tr>
                  <td>Jane White</td>
                  <td>40/50</td>
                  <td>30/50</td>
                  <td>70%</td>
                </tr>
                <tr>
                  <td>Charissa Bloom</td>
                  <td>20/50</td>
                  <td>40/50</td>
                  <td>60%</td>
                </tr>
                <tr>
                  <td>Luke Brown</td>
                  <td>10/50</td>
                  <td>50/50</td>
                  <td>60%</td>
                </tr>
                <tr>
                  <td>Elly Morrison</td>
                  <td>30/50</td>
                  <td>30/50</td>
                  <td>60%</td>
                </tr>
                <tr>
                  <td>Benson Adebayo</td>
                  <td>10/50</td>
                  <td>50/50</td>
                  <td>60%</td>
                </tr>




              </table>
              
              </body>
              
        
           
        </a>
       

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-magnet d-block"></span></span>
          <h3>Algorithm C Results</h3>
            <head>
              <style>
              table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
              }
              
              tr:nth-child(even) {
                background-color: #dddddd;
              }
              </style>
              </head>
              <body>
              
              <table>
                <tr>
                  <th>Name</th>
                  <th>Location score</th>
                  <th>Other criteria</th>
                  <th>Overall Score</th>
                </tr>
                <tr>
                  <td>Avik Amble</td>
                  <td>50/50</td>
                  <td>40/50</td>
                  <td>90%</td>
                </tr>
                <tr>
                  <td>Jane White</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>80%</td>
                </tr>
                <tr>
                    <td>Elly Morrison</td>
                    <td>30/50</td>
                    <td>40/50</td>
                    <td>70%</td>
                  </tr>
                <tr>
                  <td>Jian Zhang</td>
                  <td>50/50</td>
                  <td>10/50</td>
                  <td>60%</td>
                </tr>
                <tr>
                  <td>Charissa Bloom</td>
                  <td>20/50</td>
                  <td>40/50</td>
                  <td>60%</td>
                </tr>
                <tr>
                  <td>Luke Brown</td>
                  <td>10/50</td>
                  <td>50/50</td>
                  <td>60%</td>
                </tr>
                <tr>
                  <td>Benson Adebayo</td>
                  <td>10/50</td>
                  <td>10/50</td>
                  <td>20%</td>
                </tr>




              </table>
              
              </body>
        
           
        </a>
       

      </div>

</section>
<section class="py-5 bg-image overlay-primary fixed overlay" id="next-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h3 class="text-white font-weight-bold" >Task 8 : Final Survey</h3>
        <p class="mb-0 text-white lead"> 
          <ol type="A">
            <li class="mb-0 text-white lead">Complete the survey below on Algorithm A, B and C and submit </li>
            <li class="mb-0 text-white lead">Click END to complete the expperiment</li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</section>
<a name="form1673751897" id="formAnchor1673751897"></a>
<script src="https://fs11.formsite.com/include/form/embedManager.js?1673751897"></script>
<script>
    EmbedManager.embed({
	key: "https://fs11.formsite.com/res/showFormEmbed?EParam=B6fiTn-RcO5pym5fHG477C7wTqjBKzRQ&1673751897",
	width: "100%"
    });
</script>
<section class="py-5 bg-image overlay-primary fixed overlay" >
<div class="container">
  <div class="row align-items-center">
    <div class="col-md-3 ml-auto">
      <a href="{% url 'jobs:thanks' %}" class="btn btn-warning btn-block btn-lg">END</a>
    </div>
  </div>
</div>
</section>

<section class="bg-white pt-5 testimony-full">

  <div class="owl-carousel single-carousel">
  </div>

</section>


{% endblock  %}