{% extends 'base.html' %}

{% load crispy_forms_tags  %}

{% block content %} 

<section class="home-section section-hero inner-page overlay bg-image">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">Applicants' Fictional Profiles</h1>
          <p>Here we have three fictional applicants applying for the senior manager position.  
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
<section class="py-5 bg-image overlay-primary fixed overlay" id="next-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h3 class="text-white font-weight-bold" >Task 4 : Choosing a Fictional Job Applicant</h3>
        <p class="mb-0 text-white lead"> 
          <ol type="A">
            <li class="mb-0 text-white lead" >Based on the job advert you read, 
              choose your preferred fictional job applicant that fits the role 
            </li>
            <li class="mb-0 text-white lead" >Click 'CONTINUE' to view how each applicant is 
              ranked by the candidates' ranking algorithms
            </li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="site-section services-section bg-light block__62849" id="next-section">
  <div class="container">

    <div class="row">
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a class="block__16443 text-center d-block">
          <h3>Profile 1</h3>
          <p>Elly, a 32-year old woman, lives in Arkley London, 
            has a Bachelor’s degree in retail management with 4 years 
            of retail management experiences in a leading national chain.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a class="block__16443 text-center d-block">
          <h3>Profile 2</h3>
          <p> Avik, a 35-year old man, lives in Kesington London, 
            has a High School Diploma with 6 years of retail experiences 
            and a recent promotion to a junior management role. 
          </p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a class="block__16443 text-center d-block">
          <h3>Profile 3</h3>
          <p> Benson, a 60-year old man, lives in Oxford, 
            has a A levels in business with extensive years of retail experiences, 
            and is looking to relocate to the London area
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="container">

        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a name="form1105775672" id="formAnchor1105775672"></a>
            <script src="https://fs11.formsite.com/include/form/embedManager.js?1105775672"></script>
            <script>
              EmbedManager.embed({
	            key: "https://fs11.formsite.com/res/showFormEmbed?EParam=B6fiTn-RcO5pym5fHG477EFZTwlB5vVc&1105775672",
	            width: "100%"
              });
            </script>
          </div>



        </div>

  </div>
</section>
<section class="py-5 bg-image overlay-primary fixed overlay" >
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 ml-auto">
        <a href="{% url 'jobs:service' %}" class="btn btn-warning btn-block btn-lg">CONTINUE</a>
      </div>
    </div>
  </div>
</section>


{% endblock %}