{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME -->
    <section class="home-section section-hero inner-page overlay bg-image"
      >
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Selection Algorithms</h1>
              <p>The implemented algorithms ranks job applicants based on some specified parameters by the recruiters. 
                 The algorithms assign scores to applicants' attributes and allow recruiters to specify the 
                 attributes to be prioritised. These algorithms allow the use of multiple 
                 weighted attributes for applicants' ranking.
                  A recruiter may use one or more of the selection algorithms.  
              </p>

              <!-- <p> <input type="button" onclick="location.href='http://algo.pythonanywhere.com';" value="Go to Algorithm_II" /> </p> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    
<section class="site-section services-section bg-light block__62849" id="next-section">
  <div class="container">

    <div class="row">
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single1.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-magnet d-block"></span></span>
          <h3>Selection Algorithm_1</h3>
          <p>This algorithm gives the list of all applicants.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single2.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-plane d-block"></span></span>
          <h3>Selection Algorithm_2</h3>
          <p>This algorithm gives highest priority to applicants' location followed by 
            experience and education respectively.
            Here, the algorithm leverages on the location data provided by the applicants and 
            the preference of the recruiter on the expected distance of suitable applicant(s)
            to rank the applicants. 
          </p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single3.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-laptop d-block"></span></span>
          <h3>Selection Algorithm_3</h3>
          <p>This algorithm gives highest priority to educational level followed by experience 
            and location respectively.
            Here, the qualifications claimed by the applicants are taken as the dominant factors
            for applicants' ranking.
          </p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single4.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-search d-block"></span></span>
          <h3>Selection Algorithm_4</h3>
          <p>This algorithm gives highest priority to experience followed by education and location respectively.
            This algorithm checks if the candidate's previous work experience
            matches up to the requirement specified by the recruiters (if any).
            Here, consideration is given to skills development, loyalty; average number of years
            the applicants have spent on their previous jobs. 

          </p>
        </a>

      </div>
    
  </div>
</section>

<section class="bg-white pt-5 testimony-full">

  <div class="owl-carousel single-carousel">
  </div>

</section>


{% endblock  %}