{% extends 'base.html' %}

{% load static %}


{% block content %}

<!-- HOME -->
    <section class="home-section section-hero inner-page overlay bg-image">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Thank You!</h1>
              <p>Please return to the online questionnaire. Kindly retain your passcode as it will be required.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    


<section class="bg-white pt-5 testimony-full">

  <div class="owl-carousel single-carousel">
  </div>

</section>


{% endblock  %}